body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

label, select, input {
  margin-bottom: 10px;
  display: block;
}

#bmr-result, #total-calories-result {

  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#explanation-area {
  padding: 20px;
  border-top: 1px solid #ccc;
  margin-top: 40px;
}

#explanation-area h2 {
  margin-bottom: 15px;
}

#explanation-area ul {
  list-style-type: none;
  padding: 0;
}

#explanation-area ul li {
  margin-bottom: 10px;
  padding-left: 20px;
  text-indent: -20px;
}

#explanation-area ul li:before {
  content: "• ";
  color: #333;
}

.button {

  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.inputField {

  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.slider {
  
  width: 50%;
}